* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  width: 100px;
  padding: 0;
}

header {
  padding: 20px;
  color: #252629;
  background-color: #36ff5b7b;
}

.navigation__link {
  flex-direction: row;
  background-color: #ff4a11;
  color: #ffffff;
  width: 100px;
  padding: 5px 14px;
  border-radius: 5px;
}
