/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here. */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. 
Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  background-image: linear-gradient(
    to top,
    #9400d3,
    #4b0082,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff7f00,
    #ff0000
  );
  color: white;
  font-style: italic;
  font-weight: 700;
  border-radius: 18px;
  width: 200px;
  height: 100px;

  /* Style me! Change my border, set a border radius or try out other styles. :) */
}

.button2 {
  background-color: aqua;
  transition: background-color 0.3s ease-in-out;
  /* Style me! Change my color or background-color, or both! You can experiment with different color formats here, like HEX, RGB, etc. */
}
.button2:hover {
  background-color: hotpink;
  color: white;
  font-weight: 700;
}
.button3 {
  width: 200px;
  height: 200px;
  background-color: #00ff00;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;

  /* Style me! You can test out changing the font, font size, ...*/
}
.button3:hover {
  background-color: rgb(231, 14, 14);
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.button4 {
  width: 300px;
  height: 300px;
  background-color: magenta;
  font-size: 30px;
  border-radius: 40%;
  text-shadow: 2px 2px 5px;
  box-shadow: 0px 20px 20px rgba(2, 81, 252, 0.308);

  /* Style me! Can you add a shadow to this button? Try playing around with shadow properties - you can even change the shadow color, size, and more. */
}
.button4:hover {
  background-color: rgb(231, 14, 14);
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 10px 10px 5px rgb(255, 255, 255);
  box-shadow: 0px 20px 20px rgba(2, 81, 252, 0.308) inset;
}
/* Feel free to play around with other properties, too. */
